# Rutas a los datasets (copiar a .env y rellenar con rutas locales)
# NUNCA commitear .env

MIMIC_IV_ED_PATH=C:\Users\cuent\Documents\UAX\TFM\TFM\CodigoGit\data       # ruta a la carpeta con las tablas de MIMIC-IV-ED
EICU_PATH=               # ruta a data/eicu-collaborative-research-database-2.0
